html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.show-value {
  display: inline;
  margin-top: 50px;
  margin-bottom: 50px;
}

.show-value button {
  height: 40px;
  width: 70px;
  font-size: 31px;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  color: #008eff;
  border: 2px solid #008eff;
  transition: all 0.2s ease-out;
}
.show-value button:hover {
  background-color: #008eff;
  color: #fff;
  border: none;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.23);
  transform: scale(1.02);
}
.child-text-align h2,
.child-text-align h1 {
  text-align: center;
}

.child-text-align button {
  background-color: #fff;
  padding: 10px 15px 10px;
  border-radius: 5px;
  color: #008eff;
  font-weight: 600;
  border: 2px solid #008eff;
  transition: all 0.2s ease-out;
}

.child-text-align button:hover {
  background-color: #008eff;
  color: #fff;
  border: 2px solid #008eff;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.23);
  transform: scale(1.02);
}

.show-value span {
  font-size: 31px;
  font-weight: 500;
  text-align: center;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
